@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --bg-yellow: #ffc244ff;
    --bg-green: #00a082ff;
    --bg-green-hover: #00846bff;
    --address-jumbotron-wave-desktop: url(https://glovoapp.com/images/waves/address-jumbotron-wave-desktop.svg);
    --mast-image: url(https://glovoapp.com/images/landing/partners-mask.svg);
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.hero_section {
  background-clip: padding-box;
  border-bottom: 74px solid transparent;
  border-image-slice: 0 0 74;
  border-image-source: var(--address-jumbotron-wave-desktop);
  box-sizing: border-box;
  padding-bottom: 24px;
  padding-top: 38px;
}
.header-drawer--scrolled {
  box-shadow: 0 4px 4px -2px var(--helio-color-shadow);
  opacity: 1;
}
.header-drawer {
  background-color: var(--helio-color-globalBackground);
  opacity: 0;
  padding-bottom: var(--helio-space-L);
  position: relative;
  transform: translateY(-100%);
  transition: transform 0.3s ease-out, box-shadow 0.1s linear;
  will-change: transform, box-shadow;
}

.top_partners {
  aspect-ratio: 1;
  height: auto;
  mask: url("/img/partners-mask.svg") center/contain no-repeat;
  max-width: 128px;
  object-fit: cover;
  width: 100%;
}
.countries {
  background-clip: padding-box;
  border-bottom: 60px solid transparent;
  border-image-slice: 100 0 60;
  border-image-source: url("/img/landing-links-waves-desktop.svg");
  border-top: 100px solid transparent;
  margin-bottom: -60px;
}
.lets_do_it {
  background-clip: padding-box;
  background-color: #e9f8f5ff;
  border-image-slice: 80 0 0;
  border-image-source: url("/img/corporate-wave-desktop.svg");
  border-top: 80px solid transparent;
  margin-bottom: -135px;
  padding-bottom: 180px;
  position: relative;
}
.footer {
  background-clip: padding-box;
  background-color: #1d1d1dff;
  border-image-slice: 68 0 0;
  border-image-source: url("/img/footer-wave-desktop.svg");
  border-top: 68px solid transparent;
  margin-top: 68px;
  z-index: 4;
}
